* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    background-image: url("hero.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .beat {
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
  }
  
  .beat h2 {
    margin-bottom: 1rem;
  }
  
  .beat audio {
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .beat button {
    background-color: #333;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .beat button:hover {
    background-color: #666;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .contact {
    padding: 50px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .contact input,
  .contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .contact textarea {
    height: 150px;
  }
  
  .contact button {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .contact button:hover {
    background-color: #fff;
    color: #f00;
  }
  .search-container {
    position: relative;
    display: inline-block;
  }
  
  #search-input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 200px;
    font-size: 16px;
  }
  
  #beat-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #beat-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  #beat-list li:hover {
    background-color: #f2f2f2;
  }